@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --line-color-1: #366;
    --line-color-2: #dadada;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 90%;
    background-color: white;
    border-radius: 15%;
}

.logo-container {
    height: 22vh;
    color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8vh;

    background-image: linear-gradient(var(--line-color-1) 1.5px, transparent 1.5px),
        linear-gradient(90deg, var(--line-color-1) 1.5px, transparent 1.5px),
        linear-gradient(var(--line-color-2) 1px, transparent 1px),
        linear-gradient(90deg, var(--line-color-2) 1px, transparent 1px);
    background-position: -1.5px -1.5px, -1.5px -1.5px, -1px -1px, -1px -1px;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255)); */
}

.logo {
    text-align: center;
    font-family: "Kanit";
    font-weight: 600;
    font-size: 8rem;
    line-height: 75%;
    text-transform: uppercase;
    width: 60%;
}

.logo-subtitle {
    font-family: "Kanit";
    font-weight: 200;
    text-align: end;
    text-decoration: line-through;
}

.matrix-canvas {
    background: white;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -999;
}
